<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
      <div class="container-sm" id="secondary-div">
        <h1 id="project-title">Your account was registered successfuly!</h1>
      </div>
    </div>
  <script src="./stylesheets/bootstrap.min.js"></script>
  </body>
</html>