<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
        <div class="container-sm" id="secondary-div">
            <h1 id="project-title">Presidential elections</h1>
            <h3>
                If you don`t have an account, register
                <a href="/GET/register"><small class="text-body-secondary">here</small></a>
                 or if you already have an account you can login 
                <a href="/GET/login"><small class="text-body-secondary">here</small></a>.
              </h3>
        </div>
    </div>
  <script src="./stylesheets/bootstrap.min.js"></script>
  </body>
</html>