<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
      <div class="container-sm" id="secondary-div">
          <h1 id="project-title">Presidential elections</h1>
          <h3>
            To be able to participate at presidential election and vote, you need to have an account. If you
            don`t have an account, you can register 
            <a href="/auth/user/register"><small class="text-body-secondary">here</small></a>
              or if you already have one, you can login 
            <a href="/auth/user/login"><small class="text-body-secondary">here</small></a>.
          </h3>
          <% if (userlist.length > 2) { %>
          <div class="mb-5"></div>
          <h2>The top 3 candidates live, now:</h2>
            <div class="mb-3"></div>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item row-vdh">CANDIDATE NAME</li>
              <li class="list-group-item row-vdh">NO. VOTES</li>
            </ul>
            <% for(let i = 0 ; i <= 2; ++i) { %>
              <ul class="list-group list-group-horizontal">
                  <li class="list-group-item row-vdh">
                      <a href="/user/profile/<%=userlist[i].username%>"><%= userlist[i].username %></a>
                  </li>
                  <li class="list-group-item row-vdh"><%= userlist[i].no_votes %></li>
              </ul>      
            <% } %>
          <% } %>
      </div>
    </div>
  <script src="./stylesheets/bootstrap.min.js"></script>
  </body>
</html>