<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
      <div class="container-sm">
        <div class="container-fluid" style="align-content: start;">
          <div class="mb-3">
            <form action="/auth/user/description/save" method="POST" id="sendText">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 50rem;" name="description"></textarea>
                <br>
                <button type="submit" class="btn btn-success" style="width: 8rem;" id="save-text">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <script src="/stylesheets/bootstrap.min.js"></script>
  <script>
  </script>
  </body>
</html>