<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
      <div class="container-sm">
        <h1 id="project-title">Admin panel</h1>
        <h3 style="text-align: center;">Make sure to choose a date that doesn`t interfere with an existing round!</h3>
        <div class="mb-5"></div>
        <div class="container-fluid" style="align-content: start;">
          <div class="mb-3">
            <form action="/auth/user/admin/round-date" method="POST">
              <% 
                const date = new Date();
                const year = date.getFullYear();
                const month = date.getMonth() + 1;
                const day = date.getDate();
                let minDate = "";
                if (month < 10) {
                  minDate = `${year}-0${month}`;
                } else {
                  minDate = `${year}-${month}`;
                }
                if (day < 10) {
                  minDate += `-0${day}`;
                } else {
                  minDate += `-${day}`;
                }
              %>
              <label for="startDate" class="form-label">Select starting date</label>
              <input type="date" class="form-control" id="startDate" min="<%= minDate %>" name="startingDate">
              <div class="mt-2"></div>
              <label for="endDate" class="form-label">Select ending date (this should be bigger then starting date)</label>
              <input type="date" class="form-control" id="endDate" name="endingDate">
              <div class="mt-3"></div>
              <button type="submit" class="btn btn-primary mb-3">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/stylesheets/bootstrap.min.js"></script>
  </body>
</html>