<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
        <div class="container-sm">
            <h1 id="project-title">Admin panel</h1>
            <div class="container-fluid" style="align-content: start;">
                <div class="mb-3">
                    <form >
                        <label for="startDate" class="form-label">Select starting date</label>
                        <input type="date" class="form-control" id="startDate" min="2025-05-08" name="start_date">
                        <div class="mt-2"></div>
                        <label for="endDate" class="form-label">Select ending date</label>
                        <input type="date" class="form-control" id="endDate" min="2025-05-10" name="end_date">
                        <div class="mt-3"></div>
                        <button type="button" class="btn btn-primary mb-3" onclick="getEndDate()">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <script src="/stylesheets/bootstrap.min.js"></script>
  <script>
    function getEndDate() {
        const date = document.getElementById('startDate');
        const d = new Date(date.value);
        d.setDate(d.getDate() + 1);
        console.log(d.getDate(), d.getMonth(), d.getFullYear());
        const todayDate = new Date();
        console.log(todayDate.getFullYear(), todayDate.getMonth());
    }
  </script>
  </body>
</html>