<% userlist.forEach(user => { %>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item" id="row-size"><%= user.username %></li>
        <li class="list-group-item" id="row-size"><%= user.no_votes %></li>
    </ul>      
<% }); %>
