<% userlist.forEach(user => { %>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item" id="row-size"><a href="/user/profile/<%=user.username%>" onclick="updateList()"><%= user.username %></a></li>
        <li class="list-group-item" id="row-size"><%= user.no_votes %></li>
    </ul>      
<% }); %>
