<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
    <body>
    <div class="container-fluid" id="main-div">
        <div class="container-sm" id="secondary-div">
            <h1 id="project-title">Selected date is either overlaping another date, or it is invalid!</h1>
            <h3>
                <a href="#" onclick="history.back()"><small class="text-body-secondary">Go back!</small></a>
            </h3>
        </div>
    </div>
  <script src="/stylesheets/bootstrap.min.js"></script>
  </body>
</html>
