<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid" id="main-div">
        <div class="container-sm">
            <h1 id="project-title"><%= name %>`s profile</h1>
            <div class="container-fluid" style="align-content: start;">
                <h3>Candidate Name: <small class="text-body-secondary" id="user-name"><%= name %></small></h3>
                <h3>Profile description: <small class="text-body-secondary" id="user-description"><%= description %></small></h3>
            </div>
        </div>
    </div>
  <script src="/stylesheets/bootstrap.min.js"></script>
  </body>
</html>