body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-div {
  position: absolute;
}

#secondary-div {
  text-align: center;
}

#project-title {
  margin-bottom: 5rem;
  text-align: center;
}

#add-description {
  max-width: 25rem;
}

.row-size {
  width: 12rem;
  text-align: center;
}

.row-vdh {
  width: 100dvh;
  text-align: center;
}

#candidates-text {
  display: block;
}

#table {
  display: none;
}