body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 100rem;
}

a {
  color: #00B7FF;
}

#main-div {
  position: absolute;
}

#secondary-div {
  text-align: center;
}

#project-title {
  margin-bottom: 5rem;
  text-align: center;
}