<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  </head>
    <body>
    <div class="container-fluid" id="main-div">
        <div class="container-sm" id="secondary-div">
            <h1 id="project-title">Login credentials are invalid</h1>
            <h3>
                Try to 
                <a href="/user-login"><small class="text-body-secondary">sign in</small></a>
                 again, or register an account
                <a href="/user-register"><small class="text-body-secondary">here</small></a>.
            </h3>
        </div>
    </div>
  <script src="./stylesheets/bootstrap.min.js"></script>
  </body>
</html>
